*.class

/node_modules

### SSH Keys ###
*.pem
*.ppk

### Mobile Tools for Java (J2ME) ###
.mtj.tmp/

### Package Files ###
*.jar
*.war
*.ear

### Gradle temporary files ###
target/

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Eclipse files ###
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
